
<div class="confirm">
    <div class="confirm_box">
        <p><%= text %></p>
        <p><input type="text" class="confirm_input" value="" /></p>
        <div class="bottom_buttons">
            <button type="reset">Cancel</button>
            <button type="submit"><% if (confirm_text) { %><%= confirm_text %><% } else { %>OK<% } %></button>
        </div>
    </div>
</form>
