
<div class="confirm">
    <div class="confirm_box">
        <p><%= text %></p>
        <p><input type="text" class="confirm_input" value="" /></p>
        <div class="bottom_buttons">
            <input type="reset" value="Cancel" />
            <input type="submit" value="<% if (confirm_text) { %><%= confirm_text %><% } else { %>OK<% } %>" />
        </div>
    </div>
</form>
