<table id="allergy_list" class="light full">
<colgroup>
    <col width="33%" />
    <col width="34%" />
    <col width="33%" />
</colgroup>
<tr>
<%
if (reports && reports.length > 0) {
    var reports_sorted = _(reports).sortBy(function(r){
        if (typeof(r.item.dateDiagnosed) != 'undefined')
            return r.item.dateDiagnosed;
        else
            return '-99999';
    });
    
    var reports_reverse = reports_sorted.reverse();
    for (var i = 1; i <= reports_reverse.length; i++) {
        var report = reports_reverse[i-1]; %>
        <td><%= view('./views/allergy/item-full', report) %></td>
        <% if (0 == i % 3) { %>
        </tr><tr>
        <% } %>
    <% }
}
else { %>
    <td colspan="3"><div class="attention">No reported allergies</div></td>
<% } %>
</tr>
</table>