
<div id="loading" class="floating">
    <h3><img class="loader" src="./resources/ajax-loader.gif" />Loading</h3>
</div>

<div id="top_buttons">
    <input id="add_allergy" type="button" value="Report an allergy" />
</div>

<div style="width: 75%;">
    <div id="filter_buttons">
        <input type="checkbox" id="chk_get_active" value="active" /><label for="chk_get_active">Active</label>
        <input type="checkbox" id="chk_get_archived" value="archived" /><label for="chk_get_archived">Archived</label>
        <input type="checkbox" id="chk_get_void" value="void" /><label for="chk_get_void">Voided</label>
    </div>
    
    <h2>Allergies</h2>
</div>

<div id="allergy_list" class="light">
<%
if (reports && reports.length > 0) {
    var reports_sorted = _(reports).sortBy(function(r){
        if (typeof(r.item.dateDiagnosed) != 'undefined')
            return r.item.dateDiagnosed;
        else
            return '-99999';
    });

    _(reports_sorted.reverse()).each(function(report) {
%>
    <%= view('./views/allergy/list', report) %>
<% }) %>
    <div class="clear"> </div>
<% }
else { %>
    <h3 class="attention">No reported allergies</h3>
<% } %>
</div>
