
<div id="top">
    <button id="add_allergy" type="button">Report an allergy</button>
    
    <h2>Allergies</h2>
    
    <div id="filter_buttons">
        <div id="display_switch" class="segmented">
            <a class="button active" data="dense">List</a><!--
            --><a class="button" data="full">Full</a>
        </div>
        <input type="checkbox" id="chk_get_active" value="active" /><label for="chk_get_active">Active</label>
        <input type="checkbox" id="chk_get_archived" value="archived" /><label for="chk_get_archived">Archived</label>
        <input type="checkbox" id="chk_get_void" value="void" /><label for="chk_get_void">Voided</label>
    </div>
    
</div>

<div id="loading">
    <h3><img class="loader" src="./resources/ajax-loader.gif" />Loading</h3>
</div>

<div id="allergy_list"></div>

