
<div style="width: 25%"><h2 style="margin-left: -4px;">Allergies</h2></div>
<div>
  <h3>Loading <img style="vertical-align: text-bottom; height: 20px;" src="./resources/ajax-loader.gif"/></h3>
</div>
