body { background: #FAFAFA; padding-bottom: 1.5em; } /* don't inherit background, so we don't color the inside with record colors */
h2 { margin-bottom: 1em; }
td h3 { margin: 2em 1em; color: rgb(100,100,100); color: rgba(0,0,0,0.6); }

#allergy { position: relative; }
#loading { display: block; width: 50%; margin: 2em 0; text-align: center; color: rgb(100,100,100); color: rgba(0,0,0,0.6); }
#loading.floating { float: right; width: 74%; margin: 0; text-align: left; }
#loading .loader { vertical-align: text-bottom; height: 20px; margin-right: 0.5em; }

#top_buttons { float: right; position: relative; margin: 0.75em 1em; }
#filter_buttons { float: right; width: 70%; line-height: 3.6em; }
#filter_buttons input[type="checkbox"] { margin-right: 0.75em; }
#filter_buttons img { margin-right: 0.55em; vertical-align: -5%; }
#filter_buttons label { margin-right: 1.5em; }
#allergy_list td:first-child { font-size: 1.2em; font-weight: bold; }


/* allergy overview */
.one_allergy {
    position: relative; float: left; min-width: 280px; max-width: 400px; width: 31%; margin: 0 2% 2% 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8); cursor: pointer;
    border: 1px solid rgb(160,160,160); border-radius: 6px; background:url("white_carbon.png") top left repeat rgb(245,245,245);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25); box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}
.one_allergy:hover {
    border-color: rgb(120,120,120);
}
.one_allergy_active {
    border-color: rgb(120,120,120); cursor: default;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5); box-shadow: 0 1px 4px rgba(0,0,0,0.5);
}
.one_allergy_inner {
    min-height: 145px;
    padding: 15px 18px; border: 1px solid rgba(255,255,255,0.8); border-radius: 5px;
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0)));
    background-image:-moz-linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0));
}

.one_allergy h2 { display: block; margin: 0 60px 0 0; font-size: 1.6em; }
.coded_allergy_type { font-size: 0.8em; }
.one_allergy h3 {
    display: inline; margin: 0 0 0 1em; font-size: 1.3em;
    font-style: italic; font-weight: normal; font-family: Corbel, "Lucida Sans", "Gill Sans", sans-serif; color: rgba(70,67,55,0.6);
}
.one_allergy p { clear: left; margin: 0.5em 0 0; }
.one_allergy_inner .warnsign { margin: -17px -20px 0; }
.one_allergy .type_image { position: absolute; top: 0; right: 0; }

.one_allergy_editing .bottom_buttons { text-align: left; }
.one_allergy_editing .bottom_buttons .bold { float: right; }

.bottom_buttons p.meta { float: left; max-width: 75%; margin: 0; text-align: left; color: rgba(70,67,55,0.7); }
.warnsign {
    height: 1.9em; line-height: 2em; margin:-21px -26px 0; padding: 0 25px;
    border: 1px solid rgb(120,120,120); border-radius: 6px 6px 0 0;
    color: white; font-weight: bold; text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
    background-color: rgba(0,0,0,0.3); background: url("warn_stripes.png") top left repeat transparent;
}

/* allergy history */
.history { margin-top: 1em; font-size: 0.9em; }
.one_history { padding: 0.5em 0 0.75em; border: 1px dotted transparent; border-top-color: rgb(160,160,160); }
.history_meta { cursor: pointer; }
.active_history {
    margin: 0 -10px; padding: 0.5em 10px 0; background: rgba(0,0,0,0.1); border-radius: 6px 6px 0 0;
    border-top: 1px solid rgba(0,0,0,0.3); border-left: 1px solid rgba(0,0,0,0.2); border-right: 1px solid rgba(0,0,0,0.2);
}
.one_history img { float: left; margin: 0.2em 8px 0.2em 0; }
.one_history .small { margin-left: 24.5px; }
.history_spinner img { margin-right: 0.75em; vertical-align: -10%; }

.history .one_allergy_inner {
    min-height: none; margin: 0 -10px 1.5em; padding: 10px; cursor: default; background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.15); border-top: none; border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.95); -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.95); box-shadow: 0 1px 0 rgba(255,255,255,0.95);
}
.history .warnsign { margin: 0 -11px 0.5em; padding: 0 10px; font-size: 1.15em; border-radius: 0; }
.status_replaced input[type="button"], .status_replaced img { float: right; margin-top: 0.55em; }
.history h2 { font-size: 1.8em; }
.history h3 { font-size: 1.4em; }


/* allergy form */
#form_container { position: absolute; top: -16px; left: -8px; right: -8px; bottom: -16px; background-color: rgba(255,255,255,0.5); z-index: 20; }
#allergy_form { position: relative; width: 520px; text-align: left; }
#allergy_form textarea { height: 8.5em; padding: 2px; }
#allergy_form .full { float: right; width: 75%; }
#allergy_form .short { width: 30%; }
#allergy_form .code_info { float: right; display: none; width: 75%; margin-top; 0.3em; font-size: 0.7em; color: inherit; text-align: right; }
#allergy_form p { clear: right; margin: 0; padding-top: 1em; }
#allergy_form .ui-autocomplete { max-width: 68%; max-height: 280px; overflow-y: auto; overflow-x: hidden; }


/* floating window */
.floating_window {
    margin: 0 auto; text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    border: 1px solid rgb(160,160,160); border-radius: 6px; background:url("white_carbon.png") top left repeat rgb(245,245,245);
    -webkit-box-shadow: 0 6px 20px rgba(0,0,0,0.5); -moz-box-shadow: 0 6px 20px rgba(0,0,0,0.5); box-shadow: 0 6px 20px rgba(0,0,0,0.5);
}
.floating_window_gradient {
    min-height: 160px; padding: 20px 25px; border: 1px solid rgba(255,255,255,0.8); border-radius: 5px;
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0)));
    background-image:-moz-linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0));
}
.close_button { position: absolute; top: 5px; right: 5px; width: 16px; height: 16px; z-index: 2; }
.action_area { display: none; position: absolute; bottom: 9px; left: 10px; width: 60%; color: white; text-shadow: 0 -1px 0 black; }
.action_area img { margin-right: 0.25em; vertical-align: -8%; }

/* confirmation dialog */
.confirm {
    z-index: 3; position: absolute; top: -1px; left: -1px; right: -1px; bottom: -1px;
    background: rgba(0,0,0,0.5); border-radius: inherit;
}
.confirm_box {
    width: 60%; margin: 5% auto 0; padding: 0.8em; text-align: right; vertical-align: middle;
    border: 1px solid rgb(80,80,80); border-radius: 0.4em; background-color: white; text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(252,252,252)), to(rgb(235,235,235)));
    background-image:-moz-linear-gradient(top, rgb(252,252,252), rgb(235,235,235));
}
.confirm_box p { margin-bottom: 1em; text-align: center; }
.confirm_box input[type="text"] { width: 90%; }
.confirm_box .bottom_buttons { padding-top: 0.5em; }

/* generic */
.details { font-size: 1.1em; color: #464337; }
.specifics { margin: 0.5em 0; padding: 0.5em 0; font-size: 0.9em; border-top: 1px dotted rgb(0,0,0); border-top-color: rgba(0,0,0,0.1); }
.family { font: italic 0.917em Corbel, "Lucida Sans", "Gill Sans", sans-serif; color: rgba(70,67,55,0.6); }
.meta { position: relative; font-size: 0.85em; text-align: right; color: rgba(70,67,55,0.7); }
.meta a { margin-left: 1.5em; }
.meta b { color: rgb(87,84,73); }
.bottom_buttons { position: relative; padding-top: 2em; text-align: right; clear: right; }
.bottom_buttons input[type="submit"] { font-weight: bold; }
.active { text-shadow: 0 1px 4px rgba(64,128,0,0.85); }
.bigger { font-size: 1.15em; }
.small { font-size: 10px; line-height: 1.4 }
.mini { font-size: 8px; line-height: 1.1; }
.bold { font-weight: bold; }
div.error { padding: 0.5em 0; color: #800; }
input.error { border-color: rgb(220,0,0); background-color: rgb(255,219,207); }
.red { color: #800; }
.green { color: #480; }
.attention { margin: 3em 2em; }
a.disabled:hover { border: none; cursor: default; }
.action_spinner { margin:0 1em; vertical-align:-11%; }
.clear { clear: both; }

/* status */
.status_inactive {  }
.status_archived {  }


/* jQuery UI overrides */
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget-content { color: white; border: 1px solid black; background: black; background: rgba(0,0,0,0.75); box-shadow: 0 4px 10px rgba(0,0,0,0.5) }
.ui-widget-header { border: none; background: rgb(246,168,40); color: black; font-weight: bold; }
.ui-widget-header a { color: black; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none; background: rgb(180,180,180); font-weight: bold; color: black;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    color: black; text-shadow: 0 1px 0 rgba(255,255,255,0.8); cursor: pointer;
    border: none; border-radius: 0;
    background: rgb(215,215,215);
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(230,230,230)), to(rgb(235,235,235)));
    background-image:-moz-linear-gradient(top, rgb(230,230,230), rgb(210,210,210));
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: none; font-weight: bold; color: black; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: black; text-decoration: none; }
.ui-widget :active { outline: none; }

.ui-datepicker-header .ui-state-hover { background: transparent; }
.ui-datepicker-calendar .ui-state-highlight {
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(246,168,40)), to(rgb(246,168,40)));
    background-image:-moz-linear-gradient(top, rgb(252,186,42), rgb(246,168,40));
}
.ui-datepicker-calendar .ui-state-active {
    text-shadow: 0 1px 0 rgba(255,255,255,0.8); color: rgb(220,137,0);
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(230,230,230)), to(rgb(235,235,235)));
    background-image:-moz-linear-gradient(top, rgb(230,230,230), rgb(210,210,210));
}

.ui-autocomplete { position: absolute; }
.ui-menu-item a { display: block; padding: 0 0.35em; text-shadow: none; }

